<launch>
    <!-- Map Server -->
    <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node  -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <!-- Remap scan topic to laser/scan -->
        <!-- <remap from="scan" to="my_robot/laser/scan"/> -->
        <remap from="scan" to="/scan"/>

        <!-- Odometry -->
        <!-- odom_frame_id (string, default: "odom"): Which frame to use for odometry -->
        <param name="odom_frame_id" value="odom"/>
        <!-- odom_model_type (string, default: "diff"): Which model to use, either "diff", "omni", "diff-corrected" or "omni-corrected" -->
        <param name="odom_model_type" value="diff-corrected"/>
        <!-- base_frame_id (string, default: "base_link"): Which frame to use for the robot base -->
        <param name="base_frame_id" value="robot_footprint"/>
        <!-- global_frame_id (string, default: "map"): The name of the coordinate frame published by the localization system -->
        <param name="global_frame_id" value="map"/>

        <param name="transform_tolerance" value="2"/>
        <!-- Pose -->
        <!-- Define initial poseof the robot -->
        <param name="initial_pose_x" value="15.0"/>
        <param name="initial_pose_y" value="15.0"/>
        <param name="initial_pose_a" value="4.7"/>
│    </node>

    <!-- Move Base -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <!-- Remap scan topic to laser/scan -->
        <remap from="scan" to="my_robot/laser/scan"/>

        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />

    </node>

</launch>
